<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xing.leaveSystem.dao.LoginUserMapper">

	<resultMap type="com.xing.leaveSystem.entity.User" id="LoginUserResult">
		<result property="userId" column="user_id"/>
		<result property="userName" column="username"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<!-- 向登录用户表中添加数据 -->
	<insert id="add" parameterType="com.xing.leaveSystem.entity.User">
		insert into leave_system_loginuser(user_id,username,password) 
		values 
		(
			#{userId,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 更新登录用户信息 -->
	<update id="update" parameterType="com.xing.leaveSystem.entity.User">
		update leave_system_loginuser 
		<set>
			<trim suffixOverrides=",">
				<if test="userName!=null and userName!=''">username=#{userName,jdbcType=VARCHAR},</if>
				<if test="password!=null and password!=''">password=#{password,jdbcType=VARCHAR},</if>
			</trim>
		</set>
		<where>
			user_id=#{userId}
		</where>
	</update>
	
	<!-- 根据用户id来删除用户信息 -->
	<delete id="delete">
		delete  from leave_system_loginuser 
		<where>
			user_id=#{userId}
		</where>
	</delete>
	
</mapper>